<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
	<link rel="preconnect" href="https://fonts.googleapis.com"> 
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
	<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap" rel="stylesheet">
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <div class="siteMain">
      <h1 class="siteTitle"><a href="/">{{ .Site.Title }}</a></h1>
      <h2 class="siteDescription">{{ $.Site.Params.description }}</h2>
      <nav>
      <ul class="menu">
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
      </nav>
