{{ $itemPageURL := .RelPermalink }}
<div class="item">
    <div class="itemPublishDate">
        {{ time.Format "2/1/2006" .PublishDate }}
    </div>
    <a href='{{ $itemPageURL }}'>
        <div class="itemTitle">
            {{ .LinkTitle }}
        </div>
    </a>
    {{ with partial "getImage.html" . }}

        {{ $image := . }}

        <div class="itemImageBorder">
            <div class="itemImage">
                <a href='{{ $itemPageURL }}'>
                    <img
                        srcset="{{ $image.RelPermalink }}"
                        alt="{{ .Title }}"
                    />
                </a>
            </div>
        </div>
    {{ end }}
    <div class="itemContent">
        {{ .Content }}
    </div>
</div>
