{{ $itemPageURL := .RelPermalink }}
<div class="item">
    <div class="itemPublishDate">
        {{ time.Format "2/1/2006" .PublishDate }}
    </div>
    <a href='{{ $itemPageURL }}'>
        <div class="itemTitle">
            {{ .LinkTitle }}
        </div>
    </a>
    {{ with partial "getImage.html" . }}

        {{ $image := . }}
        {{/* $image.RelPermalink */}}
        
        {{/* J'utilise la couleur la plus employée dans l'image pour le fond de ma bordure */}}
        {{ $colors := $image.Colors }}
        {{ $color := index ($colors) 0 }}
        
        <div class="itemImageBorder" style='background-color:{{ $color }};'> 	
            <a href='{{ $itemPageURL }}'>
                <img class="itemImage"
                    srcset="{{ $image.RelPermalink }}"
                    alt="{{ .Title }}"
                />
            </a>
        </div>
    {{ end }}
    <div class="itemContent">
        {{ .Content }}
    </div>
</div>
