
/*--------------------------------------------------------------------------------------*/
/* Variables */
:root {

    --siteTitleColor: orange;
    --siteDescriptionColor: white;
    --itemPublishDateColor: GrayText;
    --itemDataColor: black;
    --navigationTextColor: white;
    --navigationTextBackgroundColor: #4999ef;
    --siteBackground: #4999ef;
    --itemBackground: white;
    --textsOnBlueColor: white;
    --buttonsFont: 'turnip', serif;
    --itemBorder: 1vh;
    --itemsSeparation: 5vh;
    --itemsFirstSeparation: 5vh;
    --menuFont: normal 100 1em input-serif-narrow;
    --licenceFont: normal 100 1em input-serif-narrow;
    --siteTitleFont: italic 800 3em input-serif-narrow; /* Je ne parviens pas à appliquer cette valeur ? */
}

/*--------------------------------------------------------------------------------------*/
img {

	max-width: 100%;
    height: auto;
    width: auto;
}

/*--------------------------------------------------------------------------------------*/
/* Le fond par défaut de la page */
body {
    
    background-color: var(--siteBackground);
}

/*--------------------------------------------------------------------------------------*/
/* Le div qui contient tout */
.siteMain {
    
    margin: auto;
    padding: 2vw;
    font-family: 'turnip', serif;
    max-width: 1280px;
}

/*--------------------------------------------------------------------------------------*/
/* Le titre du site, sa description */
.siteTitle {
    
    margin: 0vw;
    padding: 0vw;
    color: var(--siteTitleColor);
    font-family: "input-serif-narrow";
    font-weight: 800;
    font-style: italic;
    font-size: 3em;
}
.siteTitle a {
    
    color: var(--siteTitleColor);
    text-decoration-line: none;
}

.siteDescription {
    
    margin: 0vw;
    padding: 0vw;
    font-size: 1em;
    color: var(--siteDescriptionColor);
    /* Input Serif Thin */
    font-family: "input-serif-narrow", serif;
    font-weight: 100;
    font-style: normal;
}
.siteDescription a {
    
    color: var(--siteDescriptionColor);
    /* font-family: var(--titlesFont); */
    font-family: "input-serif-narrow", serif;
    font-weight: 100;
    font-style: normal;
}

/*--------------------------------------------------------------------------------------*/
/* Le titre des pages */
h1 {
    
    font-size: 2em;
    font-family: "input-serif-narrow";
}

/*--------------------------------------------------------------------------------------*/
/* La liste des items (les posts) */
.items {

    background-color: var(--siteBackground);
}

.items a {
}

.item {

    padding: var(--itemBorder);
    background-color: var(--itemBackground);
    margin-top: var(--itemsSeparation);
    border-radius: 1vw;
}
.items .item:first-child {
    
    margin-top: var(--itemsFirstSeparation);
}

/* Le résumé */
.item .itemSummary {

    /*font-family: var(--textsFont);*/
    color: var(--itemDataColor);
}
/* La date */
.item .itemPublishDate {

    /* font-family: var(--textsFont); */
    color: var(--itemPublishDateColor);
    font-family: "input-serif-narrow", serif;
    font-weight: 100;
    font-style: normal;
}
/* Le titre */
.item .itemTitle {

    /* font-family: var(--titlesFont); */
    color: var(--itemDataColor);
    font-family: "input-serif", serif;
    font-weight: 400;
    font-style: normal;
}
.item > a {

    text-decoration: none;
}
.item .itemImageBorder {

    margin-top: var(--itemBorder);
    padding: 3vw;
    border: 0.5px solid black;
}
.itemSummary, .itemContent {

    margin-top: var(--itemBorder);
    font-family: "input-serif-narrow", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1em;
}
.item p {

    margin: 0;
}
.itemContent p, .itemContent p a, .itemContent h1, .itemContent ul li a {
    
    color: var(--itemDataColor);    
}
.itemContent h1 {
    
    margin-top: 1em;
    margin-bottom: 0em;
}
.itemContent p {
    
    padding-top: 1em;
}
.itemImage {
    
    border: 0.5px solid white;
}

/* Titre quand la liste en compte un */
.itemListTitle {
   
    margin-top: var(--itemsFirstSeparation);
    margin-bottom: 0;
}

/* La description de la page qui suit le titre (pour les taxonomies) */
.itemListTitle + .itemContent {
}

/* Carte de l'item s'il une adresse est indiquée */
.itemMap {

    height: 360px;
    margin-top: 2vw;
}

/*--------------------------------------------------------------------------------------*/
/* Le menu */
.menu {
    
    display: inline-block;
    width: 100%;
    text-align: left;
    border-top: 1px solid white;
    list-style: none;
    padding: 0;
    margin-top: 3vw;
    color: var(--textsOnBlueColor);
    font: var(--menuFont);
}
.menu li {
    
    display: inline;
    margin-right: 0.6em
}
.menu li a {
    
    display: inline-block;
    color: var(--textsOnBlueColor);
    font: var(--menuFont);
}

/*--------------------------------------------------------------------------------------*/
/* Licence */
.licence {
    
    color: var(--textsOnBlueColor);
    font: var(--licenceFont);
}
.licence a {
    
    color: var(--textsOnBlueColor);
}

/*--------------------------------------------------------------------------------------*/
/* Pagination */
.pagination {

    text-align: center;
    font-family: "input-serif-narrow", serif;
    font-weight: 100;
    font-style: normal;
}

.pagination ul {

    list-style: none;
}

.pagination li {

    display: inline;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.pagination a {

    color: var(--navigationTextColor);
}

.pagination a:hover,
.pagination .active a {

    background-color: var(--navigationTextBackgroundColor);
    color: var(--navigationTextColor);
}

.pagination .disabled {

    display: none;
}
