
/*--------------------------------------------------------------------------------------*/
/* Variables */
:root {

    --siteTitleColor: orange;
    --siteDescriptionColor: white;
    --itemPublishDateColor: GrayText;
    --itemDataColor: black;
    --navigationTextColor: white;
    --navigationTextBackgroundColor: #4999ef;
    --siteBackground: #4999ef;
    --itemBackground: white;
    --titlesFont: 'Trebuchet MS', sans-serif;
    --textsFont: 'Trebuchet MS', sans-serif;
    --textsOnBlueColor: white;
    --buttonsFont: 'Trebuchet MS', sans-serif;
    --itemBorder: 1vw;
    --itemsSeparation: 5vw;
    --itemsFirstSeparation: 5vw;
}

/*--------------------------------------------------------------------------------------*/
img {

	max-width: 100%;
    height: auto;
    width: auto;
}

/*--------------------------------------------------------------------------------------*/
/* Le fond par défaut de la page */
body {
    
    background-color: var(--siteBackground);
}

/*--------------------------------------------------------------------------------------*/
/* Le div qui contient tout */
.siteMain {
    
    margin: 5vw;
    margin: auto;
    padding: 2vw;
    font-family: var(--textsFont);
    max-width: 1280px;
}

/*--------------------------------------------------------------------------------------*/
/* Le titre du site, sa description */
.siteTitle {
    
    margin: 0vw;
    padding: 0vw;
    font-weight: bold;
    font-size: 3em;
    color: var(--siteTitleColor);
    font-family: var(--titlesFont);
}
.siteTitle a {
    
    color: var(--siteTitleColor);
    text-decoration-line: none;
    font-family: var(--titlesFont);
}

.siteDescription {
    
    margin: 0vw;
    padding: 0vw;
    font-weight: normal;
    font-size: 1em;
    color: var(--siteDescriptionColor);
    font-family: var(--textsFont);
}
.siteDescription a {
    
    color: var(--siteDescriptionColor);
    font-family: var(--titlesFont);
}

/*--------------------------------------------------------------------------------------*/
/* Le titre des pages */
h1 {
    
    font-size: 2em;
    font-family: var(--titlesFont);
}

/*--------------------------------------------------------------------------------------*/
/* La liste des items (les posts) */
.items {

    background-color: var(--siteBackground);
}

.items a {
}

.item {

    padding: var(--itemBorder);
    background-color: var(--itemBackground);
    margin-top: var(--itemsSeparation);
    border-radius: 1vw;
}
.items .item:first-child {
    
    margin-top: var(--itemsFirstSeparation);
}

/* Le résumé */
.item .itemSummary {

    font-family: var(--textsFont);
    color: var(--itemDataColor);
}
/* La date */
.item .itemPublishDate {

    font-family: var(--textsFont);
    color: var(--itemPublishDateColor);
}
/* Le titre */
.item .itemTitle {

    font-family: var(--titlesFont);
    color: var(--itemDataColor);
    font-weight: bold;
}
.item > a {

    text-decoration: none;
}
.item .itemImageBorder {

    margin-top: var(--itemBorder);
    padding: 3vw;
    border: 1px solid black;
}
.itemSummary, .itemContent {

    margin-top: var(--itemBorder);
}
.item p {

    margin: 0;
}
.itemContent p, .itemContent p a, .itemContent h1, .itemContent ul li a {
    
    color: var(--itemDataColor);    
}
.itemContent h1 {
    
    margin-top: 1em;
    margin-bottom: 0em;
}
.itemContent p {
    
    padding-top: 1em;
}
.items .item .image {
}

/* Titre quand la liste en compte un */
.itemListTitle {
   
    margin-top: var(--itemsFirstSeparation);
}

/* Carte de l'item s'il une adresse est indiquée */
.itemMap {

    height: 360px;
    margin-top: 2vw;
}

/*--------------------------------------------------------------------------------------*/
/* Le menu */
.menu {
    
    display: inline-block;
    width: 100%;
    text-align: left;
    border-top: 1px solid white;
    list-style: none;
    padding: 0;
    margin-top: 8vw;
    color: var(--textsOnBlueColor);
}
.menu li {
    
    display: inline;
    margin-right: 0.6em
}
.menu li a {
    
    display: inline-block;
    color: var(--textsOnBlueColor);
    font-family: var(--titlesFont);
}

/*--------------------------------------------------------------------------------------*/
/* Licence */
.licence {
    
    color: var(--textsOnBlueColor);
}
.licence a {
    
    color: var(--textsOnBlueColor);
}

/*--------------------------------------------------------------------------------------*/
/* Pagination */
.pagination {

    text-align: center;
    font-family: var(--buttonsFont);
    font-weight: 300;
    margin: 2em;
}

.pagination ul {

    list-style: none;
}

.pagination li {

    display: inline;
    text-align: center;
}

.pagination a {

    color: var(--navigationTextColor);
    border-radius: 0.3em;
    margin: 0 0.2em;
    padding: 0.5em;
}

.pagination a:hover,
.pagination .active a {

    background-color: var(--navigationTextBackgroundColor);
    color: var(--navigationTextColor);
}

.pagination .disabled {

    display: none;
}
