{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}




<ul>
  {{ range .Params.categories }}
    <li><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
  {{ end }}
</ul>
<ul>
  {{ range .Params.years }}
    <li><a href="{{ "/years/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
  {{ end }}
</ul>


{{ range $key, $value := .Site.Taxonomies.years }}
	<li><a href="/years/{{ $key | urlize  }}">{{ $key }}</a> ({{ len $value }})</li>
{{ end }}
{{ range $key, $value := .Site.Taxonomies.categories }}
	<li><a href="/categories/{{ $key | urlize  }}">{{ $key }}</a> ({{ len $value }})</li>
{{ end }}



{{ .Content }}

<div class="items">

	{{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
	{{ range $paginator.Pages }}
		<a href='{{ .RelPermalink }}'>
			<div class="item">
				<div class="itemPublishDate">
					{{ time.Format "2/1/2006" .PublishDate }}
				</div>
				<div class="itemTitle">
					{{ .LinkTitle }}
				</div>
				{{ with partial "getImage.html" . }}
	
					{{ $image := . }}
			
					<div class="itemImage">
						<img
    						srcset="{{ $image.RelPermalink }}"
        					alt="{{ .Title }}"
						/>
					</div>
				{{ end }}
				<div class="itemSummary">
					{{ .Summary }}
				</div>
			</div>
		</a>
	{{ end }}
</div>

{{ template "_internal/pagination.html" . }}

{{ partial "footer.html" . }}
