{{ partial "header.html" . }}

<div class="item">
	<div class="itemPublishDate">
		{{ time.Format "2/1/2006" .PublishDate }}
	</div>
	<div class="itemTitle">
		{{ .LinkTitle }}
	</div>
	{{ with partial "getImage.html" . }}
	
		{{ $image := . }}
		
		<div class="itemImageBorder"> 	
			<div class="itemImage">
				<img
					srcset="{{ $image.RelPermalink }}"
					alt="{{ .Title }}"
				/>
			</div>
		</div>
	{{ end }}
	<div class="itemContent">
		{{ .Content }}
	</div>
</div>

{{ partial "footer.html" . }}
