{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<div class="articles">

	{{ range (.Paginator).Pages }}
		<section class="item">
			<a href='{{ .RelPermalink }}'>

				{{ with partial "getImage.html" . }}

					{{ $image := . }}
		   			{{ $image1000 := $image.Fill "1000x1000 q70 MitchellNetravali" }}
		    		{{ $image1500 := $image.Fill "1500x1500 q70 MitchellNetravali" }}
		   			{{ $image2000 := $image.Fill "2000x2000 q70 MitchellNetravali" }}
    		
					<div class="image">
        				<img
            				srcset="{{ if gt $image.Width 1000 }} {{ $image1000.RelPermalink }} 1000w,{{ end }}
                    				{{ if gt $image.Width 1500 }} {{ $image1500.RelPermalink }} 1500w,{{ end }}
                    				{{ $image2000.RelPermalink }} 2000w"
            				sizes="(min-width: 1800px) 33vw,
                    				(min-width: 1200px) 50vw,
                    				100vw"
	            			alt="{{ .Title }}"
    	        			width="{{ $image.Width }}"
        	    			height="{{ $image.Height }}"
						/>
					</div>
				{{ end }}
	    	</a>
		</section>
	{{ end }}
</div>

{{ template "_internal/pagination.html" . }}

{{ partial "footer.html" . }}
